.env
.env.*
!.env.example

node_modules/
dist/
build/

.venv/
venv/
__pycache__/
*.py[cod]

audio_notes/
box_images/
*.mp3
*.wav
*.webm

ffmpeg.exe
ffprobe.exe

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
